html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

input,
textarea {
  font-family: Roboto, sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43em;
  min-width: 320px;
  color: #757575;
  background-color: #ffffff;
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #212121;
}

img {
  display: block;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.header-items,
.head-nav,
.head-contacts,
.head-contacts__item {
  display: flex;
  align-items: center;
}

.header-items {
  border-bottom-style: solid;
  border-bottom-color: #ececec;
  border-width: 1px;
}

.logo {
  margin-right: 85px;
}

.head-nav {
  padding-bottom: 32px;
  padding-top: 32px;
}

.head-nav__item {
  padding-right: 50px;
  color: #212121;
}

.head-contacts__svg {
  margin-left: 31.5px;
}

.head-contacts__info {
  margin-left: 10px;
  color: #212121;
}

.head-contacts {
  margin-left: auto;
  flex-wrap: wrap;
}

.head-nav__item-link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.head-nav__item-link:hover,
.head-nav__item-link:focus,
.head-contacts__info:hover,
.head-contacts__info:focus {
  color: #2196f3;
}

.section-hero .container {
  text-align: center;
  padding-right: 0px;
  padding-left: 0px;
}

.hero-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

.btn-hero {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: center;
  background-color: #2196f3;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  border-radius: 4px;
  border: 0;
}

.section .container {
  padding: 0 0;
}

.features__items {
  display: flex;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 47px;
}

.features__picture {
  padding: 25px 100px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__item {
  max-width: 270px;
  margin-right: auto;
  margin-left: auto;
}

.features__heading {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}

.features__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.activity__heading {
  padding-top: 47px;
  padding-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.activity__items {
  display: flex;
  align-items: center;
  padding-bottom: 94px;
}

.activity__item {
  margin-right: auto;
  margin-left: auto;
}

.activity__item:first-child {
  padding-left: 0px;
  background-image: url(../images/box1.jpg);
}

.activity__item:last-child {
  padding-right: 0px;
  background-image: url(../images/box3.jpg);
}

.activity__item {
  background-repeat: no-repeat;
  width: 370px;
  background-size: 100%;
  padding-top: 224px;
}

.activity__item {
  background-image: url(../images/box2.jpg);
}

.activity__sheading {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.cards__heading,
.cards__items {
  background-color: #f5f4fa;
}

.cards__heading {
  padding-top: 94px;
  padding-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.cards__items {
  display: flex;
  align-items: center;
  text-align: center;
  padding-bottom: 94px;
}

.card__picture {
  margin-left: auto;
  margin-right: auto;
}

.card__item {
  margin-left: auto;
  margin-right: auto;
  height: 422px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.card__sheading {
  padding-top: 30px;
  padding-bottom: 10px;
}

.card__text {
  padding-bottom: 16px;
}

.social__link {
  display: flex;
  width: 40px;
  height: 40px;
}

.social__link:hover,
.social__link:focus {
  background-color: #2196f3;
}

.social__items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__item {
  padding: 0 5px;
}

.social__item:last-child {
  padding-right: 0px;
}

.social__item:first-child {
  padding-left: 0px;
}

.social__link-icon {
  margin-left: auto;
  margin-right: auto;
}

.partners__heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 94px;
  padding-bottom: 50px;
}

.partners__items {
  display: flex;
  align-items: center;
  padding-bottom: 94px;
}

.partners__item {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 90px;
}

.partners__item:hover,
.partners__item:focus {
  border-color: #2196f3;
}

.partners__item:first-child {
  padding-left: 0px;
}

.partners__item:last-child {
  padding-right: 0px;
}

footer {
  background-color: #2f303a;
}

.socials__links {
  display: flex;
  align-items: center;
}

.main-footer-block {
  display: flex;
  align-items: baseline;
  padding: 60px 0;
}

.footer-block__input {
  margin-left: auto;
}

.address__logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.address__logo-color {
  color: #ffffff;
}

.address__item {
  padding-top: 20px;
  padding-bottom: 9px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address__contacts {
  padding-bottom: 9px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address__contacts:last-child {
  padding-bottom: 0px;
}

.social__call {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
}

.social__footer-link {
  margin-left: 10px;
}

.social__footer-link:first-child {
  margin-left: 0px;
}

.footer-block__address {
  padding-right: 69px;
}

.footer__input {
  background-color: transparent;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-right: 10px;
}

.btn__footer,
.btn__footer-img {
  display: flex;
  align-items: center;
}

.btn__footer {
  color: #ffffff;
  margin-left: 12px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.input__menu {
  display: flex;
}

.btn_footer-img {
  padding-left: 10px;
  padding-right: 28px;
}

.hero-items {
  max-width: 1600px;
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-color: rgba(47, 48, 58, 0.8);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/hero.jpg);
}

.btn__footer-text {
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.portfolio {
  padding-top: 74px;
}

.portfolio-nav {
  display: flex;
  margin: 0 -4px;
  justify-content: center;
  padding-bottom: 50px;
}

.portfolio__item {
  padding: 0 4px;
}

.portfolio__item-link {
  padding: 6px 22px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.portfolio__item-link:hover,
.portfolio__item-link:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.portfolio__block {
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
  margin: 0 15px;
  margin-bottom: 30px;
}

.portfolio-blocks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 94px;
  margin: 0 -15px;
  margin-bottom: -30px;
}

.portfolio__block-title {
  padding-left: 24px;
  padding-top: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio__block-type {
  padding-left: 24px;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio__block:hover,
.portfolio__block:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
